.container
    padding: 10px 60px
.nav
    display: flex
    justify-content: space-between
    align-items: center
.name
    font-size: 40px
    font-family: AnotherDanger, serif
.navLinks
    display: flex
    align-items: center
.navLinks a
    font-size: 18px
    margin: 0 7px
.aboutMe
    margin-top: 50px
    display: flex
.imageWrapper
    position: relative
    width: 53%
.aboutMe
    &_container
        width: 47%
    &_label
        display: flex
        align-items: center
        font-size: 30px
        white-space: nowrap
    &_line
        height: 2px
        margin-left: 10px
        width: 100%
        background-color: black
    &_title
        font-weight: 300
        font-size: 30px
    &_style
        font-weight: 300
        font-size: 30px
    &_text
        margin: 6vw 0
        font-family: 'CormorantGaramond-Light', sans-serif
        font-size: 4.7vw
.inst
    display: flex
    align-items: center
    font-size: 22px
.myWorks
    margin-top: 200px
    &_title
        width: 100%
        text-align: center
        font-size: 20px
        font-style: italic
    &_images
        margin-top: 100px
        display: grid
        grid-template-columns: repeat(2, calc((100% - 3vw) / 2))
        gap: 3vw
    &_image
        width: 100%
        height: auto
.myLocation
    margin-top: 110px
    display: flex
    flex-direction: column
    align-items: center
    &_label
        font-style: italic
        font-size: 25px
    &_text
        margin-top: 50px
        font-size: 70px
    &_map
        margin-top: 80px

@media (max-width: 1200px)

@media (max-width: 992px)

@media (max-width: 768px)

@media (max-width: 576px)



